property-portal-dto/src/main/resources/common-schema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:complexType name="statusType">
        <xs:sequence>
            <xs:element name="statusId" type="xs:long"/>
            <xs:element name="name" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="adminUserType">
        <xs:sequence>
            <xs:element name="id" type="xs:long" minOccurs = "0"/>
            <xs:element name="firstName" type="xs:string"/>
            <xs:element name="designation" type="xs:string"/>
            <xs:element name="mailId" type="xs:string"/>
            <xs:element name="phoneNumber" type="xs:string"/>
            <xs:element name="status" type="xs:long"/>
            <xs:element name="doj" type="xs:string"/>
            <xs:element name="dor" type="xs:string"/>
            <xs:element name="userName" type="xs:string"/>
            <xs:element name="password" type="xs:string"/>
            <xs:element name="statusType" type="statusType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="planType">
        <xs:sequence>
            <xs:element name="id" type="xs:long" minOccurs = "0"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="cost" type="xs:float" minOccurs = "0"/>
            <xs:element name="numberOfImages" type="xs:int" minOccurs = "0"/>
            <xs:element name="userTypeId" type="xs:long" minOccurs = "0"/>
            <xs:element name="userTypeName" type="xs:string" minOccurs = "0"/>
            <xs:element name="description" type="xs:string"/>
            <xs:element name="lineByeLineDescription" type="xs:string" maxOccurs="unbounded"/>
            <xs:element name="validDays" type="xs:int" minOccurs = "0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="propertyUserType">
        <xs:sequence>
            <xs:element name="id" type="xs:long" minOccurs = "0"/>
            <xs:element name="firstName" type="xs:string"/>
            <xs:element name="lastName" type="xs:string"/>
            <xs:element name="builderName" type="xs:string"/>
            <xs:element name="emailId" type="xs:string" minOccurs = "0"/>
            <xs:element name="mobileNo" type="xs:string" minOccurs = "0"/>
            <xs:element name="isMailVerified" type="xs:string" minOccurs = "0"/>
            <xs:element name="passwrd" type="xs:string"/>
            <xs:element name="status" type="xs:string" minOccurs = "0"/>
            <xs:element name="userTypeId" type="xs:long" minOccurs = "0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="nameDataType">
        <xs:sequence>
            <xs:element name="id" type="xs:long" minOccurs = "0"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="type" type="xs:string"/>
            <xs:element name="parentId" type="xs:long"  minOccurs = "0"/>
            <xs:element name="isPopular" type="xs:byte" minOccurs = "0"/>
            <xs:element name="bedrooms" type="xs:long" minOccurs = "0"/>
            <xs:element name="bathrooms" type="xs:long" minOccurs = "0"/>
            <xs:element name="floors" type="xs:long" minOccurs = "0"/>
            <xs:element name="nameForPoster" type="xs:string"/>
            <xs:element name="nameForFinder" type="xs:string"/>
            <xs:element name="label" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="bedroomType">
        <xs:sequence>
            <xs:element name="id" type="xs:long" minOccurs = "0"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="bedrooms" type="xs:long" minOccurs = "0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="budgetType">
        <xs:sequence>
            <xs:element name="id" type="xs:long" minOccurs = "0"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="fromlevel" type="xs:long" minOccurs = "0"/>
            <xs:element name="tolevel" type="xs:long" minOccurs = "0"/>
            <xs:element name="currencyVal" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="mainPropertyType">
        <xs:sequence>
            <xs:element name="id" type="xs:long" minOccurs = "0"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="propertyTypesById" type="nameDataType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="advertisementType">
        <xs:sequence>
            <xs:element name="id" type="xs:long" minOccurs = "0"/>
            <xs:element name="planId" type="xs:long" minOccurs = "0"/>
            <xs:element name="propertyForTypeId" type="xs:long" minOccurs = "0"/>
            <xs:element name="propertyTypeId" type="xs:long" minOccurs = "0"/>
            <xs:element name="locationId" type="xs:long" minOccurs = "0"/>
            <xs:element name="address" type="xs:string"/>
            <xs:element name="builderName" type="xs:string"/>
            <xs:element name="buildupArea" type="xs:double" minOccurs = "0"/>
            <xs:element name="buildupAreaUnitId" type="xs:long" minOccurs = "0"/>
            <xs:element name="bedRoomId" type="xs:long" minOccurs = "0"/>
            <xs:element name="bathRoomId" type="xs:long" minOccurs = "0"/>
            <xs:element name="furnishedStatusId" type="xs:long" minOccurs = "0"/>
            <xs:element name="balconyId" type="xs:long" minOccurs = "0"/>
            <xs:element name="propertyOnFloorId" type="xs:long" minOccurs = "0"/>
            <xs:element name="totalFloor" type="xs:long" minOccurs = "0"/>
            <xs:element name="expectedPrice" type="xs:long" minOccurs = "0"/>
            <xs:element name="maintenanceCharges" type="xs:long" minOccurs = "0"/>
            <xs:element name="maintenancePeriodId" type="xs:long" minOccurs = "0"/>
            <xs:element name="securityDeposit" type="xs:long" minOccurs = "0"/>
            <xs:element name="responseFromBrokers" type="xs:string"/>
            <xs:element name="projectName" type="xs:string"/>
            <xs:element name="description" type="xs:string"/>
            <xs:element name="propertyFeatures" type="xs:string"/>
            <xs:element name="isTermsAgreed" type="xs:string"/>
            <xs:element name="galleryImage" type="galleryImageType" maxOccurs = "unbounded"/>
            <xs:element name="propertyAmenities" type="xs:string"/>
            <xs:element name="possessionStatusId" type="xs:long" minOccurs = "0"/>
            <xs:element name="possessionOrAgeId" type="xs:long" minOccurs = "0"/>
            <xs:element name="moreProperty" type="morePropertyType" maxOccurs = "unbounded"/>
            <xs:element name="imageTypeId" type="xs:long" minOccurs = "0"/>
            <xs:element name="propertyAmenitiesMap" type="amenitiesByCategory"/>
            <xs:element name="galleryImageByImageTypeMap" type="galleryImagesByImageType"/>
            <xs:element name="propertyLogo" type="xs:string"/>
            <xs:element name="companyLogo" type="xs:string"/>
            <xs:element name="companyName" type="xs:string"/>
            <xs:element name="locationName" type="xs:string"/>
            <xs:element name="bedRooms" type="xs:string"/>
            <xs:element name="buildupAreaName" type="xs:string"/>
            <xs:element name="cost" type="xs:string"/>
            <xs:element name="buildupAreaRange" type="xs:string"/>
            <xs:element name="priceRange" type="xs:string"/>
            <xs:element name="possession" type="xs:string"/>
            <xs:element name="overviewBannerImages" type="galleryImageType" maxOccurs = "unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="galleryImagesByImageType">
    </xs:complexType>

    <xs:complexType name="amenitiesByCategory">
    </xs:complexType>

    <xs:complexType name="galleryImageType">
        <xs:sequence>
            <xs:element name="id" type="xs:long" minOccurs="0"/>
            <xs:element name="imageName" type="xs:string"/>
            <xs:element name="imageTypeId" type="xs:long" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="searchType">
        <xs:sequence>
            <xs:element name="propertyForTypeId" type="xs:long" minOccurs = "0"/>
            <xs:element name="propertyTypeId" type="xs:long" minOccurs = "0"/>
            <xs:element name="locationId" type="xs:long" minOccurs = "0"/>
            <xs:element name="expectedPrice" type="xs:long" minOccurs = "0"/>
            <xs:element name="bedRoomId" type="xs:long" minOccurs = "0"/>
            <xs:element name="userTypeId" type="xs:long" minOccurs = "0"/>
            <xs:element name="pageNumber" type="xs:int" minOccurs = "0"/>
            <xs:element name="searchString" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="searchResultType">
        <xs:sequence>
            <xs:element name="id" type="xs:long" minOccurs="0"/>
            <xs:element name="projectName" type="xs:string"/>
            <xs:element name="galleryImage" type="galleryImageType" maxOccurs = "unbounded"/>
            <xs:element name="propertyType" type="xs:string" minOccurs = "0"/>
            <xs:element name="location" type="xs:string"/>
            <xs:element name="bedRooms" type="xs:string"/>
            <xs:element name="startingPrice" type="xs:string"/>
            <xs:element name="possession" type="xs:string"/>
            <xs:element name="description" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="amenitiesCategoryType">
        <xs:sequence>
            <xs:element name="id" type="xs:long" minOccurs = "0"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="amenitiesesById" type="nameDataType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="alertRegistrationType">
        <xs:sequence>
            <xs:element name="id" type="xs:long" minOccurs="0"/>
            <xs:element name="propertyForTypeId" type="xs:long" minOccurs = "0"/>
            <xs:element name="locations" type="xs:string"/>
            <xs:element name="bedRooms" type="xs:string"/>
            <xs:element name="buildupAreaFrom" type="xs:double" minOccurs = "0"/>
            <xs:element name="buildupAreaTo" type="xs:double" minOccurs = "0"/>
            <xs:element name="buildupAreaUnitId" type="xs:long" minOccurs="0"/>
            <xs:element name="budgetId" type="xs:long" minOccurs="0"/>
            <xs:element name="alertFrequency" type="xs:long" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="morePropertyType">
        <xs:sequence>
            <xs:element name="id" type="xs:long" minOccurs = "0"/>
            <xs:element name="bedRoomId" type="xs:long" minOccurs = "0"/>
            <xs:element name="area" type="xs:long" minOccurs = "0"/>
            <xs:element name="pricePerUnitArea" type="xs:long" minOccurs = "0"/>
            <xs:element name="totalCost" type="xs:long"  minOccurs = "0"/>
            <xs:element name="floorPlanFileName" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>

